block variables
doctype html
html
    head
        meta(charset='utf-8')
        title Mehdi Art House
        block scripts
            link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
            link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap')
            link(rel='stylesheet', href='style.css', type='text/css')
    body
        header.navbar
            h1 Mehdi Art House
            //- button.navbar-toggler(type='button', data-toggle='collapse',data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                //- span.navbar-toggle-icon
            ul.nav
                li.nav-item
                    a(href='/').nav-link Our work
                li.nav-item
                    a(href='/gallery').nav-link Gallery
                li.nav-item
                    a(href='/login').nav-link Create Listing
        main
            block main-content
        footer#footer
            p &copy; Copyright Mehdi Art House by ManaliPatel, 2023.
        script(src='about.js')