extends layout 
block main-content
    p Do you want convert you hobby into business?
    p Sign up here!!
    //- form(action="/post")
    //-     label(for='fname') First name:
    //-     input#fname(type='text' name='fname' value='John')
    //-     label(for='lname') Last name:
    //-     input#lname(type='text' name='lname' value='Doe')
    //-     input(type='submit' value='Submit')